      header.top-header
      {
        background-color: red;
        color: white;
      }
      .marquee-style
      {
        font-size: 25px;
        color:red;
      }
       #logo
        {
            float:left;

            
        }
        #phone
        {
            height:100px;
            width: 100px;
        }
        #certificate
        {
            height:30px;
            width:40px;

        }
        .certificate div:hover
        {
            color:pink;
        }
        .certificate div
        {
            font-size:40px;
            font-weight: bold;
            padding:20px;
            color: white;
            padding-top: 30px;
            text-align: center;
            

        }
        .certificate a
        {
            text-decoration: none;
        }
        div.right-corner
        {
            right:0;
            font-weight: bold;
            font-size: 30px;
            margin-bottom:0px;
        
        }
        span.right-corner
        {
            background-color: red;
            padding:5px;
            text-align: right;
            float:right;
        
    
            margin-left: 10px;
            margin-bottom: 0px;

        }
        .right-corner a:hover
        {
            border: 1px solid pink;
            border-radius: 10px;
            padding: 10px;
            background-color:maroon;
        }
        .right-corner a
        {
            text-decoration: none;
            color:white;
        }
        .right-corner a:hover
        {
            color:pink;
        }
        
        .first-body
        {
            margin:0px;
            padding:0px;
            margin-top:50px;
            margin-bottom: 50px;
            margin-left: 45px;


            

        }
         button
        {

            border:1px solid pink;
            background-color: red;
            color:white;
            padding: 15px;
            border-radius: 10px;
            cursor:pointer;

            
        }
        .menu 
        {
            left:0;
            width:25%;
            border:2px black solid;
            border-radius: 5px;
            padding:20px;
            margin-top: 60px;
            height:250px;
            margin-right:20px;
            margin-left:5px;
            display: inline-block;
            text-align: center;
            
         

        }
        
        /**div.menu
        {
            background-image: url("menu.png");
            background-repeat: no-repeat;

            background-position: center;
            text-align:center;
            font-weight: bold;
        }**/

        .food-delivery
        {
            position: center;
            width:25%;
            border:2px black solid;
            border-radius: 5px;
            padding:20px;
            margin-top: 20px;
            margin-right:20px;
            height:250px;
            margin-left:20px;
            display: inline-block;
            text-align: center;
        }
        /**div.food-delivery
        {
            background-image: url("delivery_image.png");
            background-repeat: no-repeat;
            background-position: top-center;
            text-align:center;
            font-weight: bold;
        
        }**/
        
    
        .map
        {
            right:0;
            width:25%;
            border:2px black solid;
            border-radius: 5px;
            padding:20px;
            margin-top: 20px;
            margin-right:25px;
            height:250px;
            margin-left:20px;
            display: inline-block;
            text-align: center;
        }
        /**div.map
        {
            background-image: url("maps.png");
            background-repeat: no-repeat;
        
            background-position: center;
            text-align:center;
            font-weight: bold;
        }**/
        #myimage
        {
            width:150px;
            height: 150px;
            
            
        }    
        .bottom-footer
        {
            
            border:1px pink solid;
            width:100%;

            bottom:0px;
            position: relative;
            font-weight: bold;
            background-color:red; 
            text-align:  center;
            color:white;
            
        }
        .bottom-footer a
        {
            text-decoration: none;
            color:white;
        }
        hr
        {
            width:30%;
        }
       #mail
       {
            cursor:pointer;
       }
        
